# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vite files
.vite/

# React
client/node_modules/
client/dist/

# Server
server/node_modules/

# IDE files
.vscode/
.idea/

# Misc
*.env.local
